<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">

            🔐 AuthFlow

        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">

                    <a class="nav-link" href="/">

                        Home

                    </a>

                </li>

                {% if user.is_authenticated %}

                <li class="nav-item">

                    <a class="nav-link" href="/dashboard/">

                        Dashboard

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" href="/profile/">

                        Profile

                    </a>

                </li>

                {% endif %}

            </ul>

            {% if user.is_authenticated %}

            <span class="navbar-text me-3">

                Hello,

                <strong>

                    {{ request.user.first_name|default:request.user.username }}

                </strong>

                👋

            </span>

            <a href="/logout/" class="btn btn-light">

                Logout

            </a>

            {% else %}

            <a href="/login/" class="btn btn-light me-2">

                Login

            </a>

            <a href="/register/" class="btn btn-warning">

                Register

            </a>

            {% endif %}

        </div>

    </div>

</nav>