{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuthFlow</title>

    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>

    <nav>
        <div class="logo">
            AuthFlow
        </div>

        <div class="menu">
            <a href="#">Home</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </nav>

    <div class="container">

        <h1>Welcome</h1>

        <p>
            Build. Learn. Get Hired.
        </p>

        <button>
            Start Your Journey
        </button>

    </div>


    

</body>
</html>