{% extends 'accounts/base.html' %}

{% block title %}

AuthFlow

{% endblock %}

{% block content %}

<div class="hero">

    <h1>

        AuthFlow 🔐

    </h1>

    <p>

        Secure Authentication System built with Django & Bootstrap

    </p>

    <div class="mt-4">

        <a href="/register/" class="btn btn-light btn-lg btn-custom me-3">

            Register

        </a>

        <a href="/login/" class="btn btn-outline-light btn-lg btn-custom">

            Login

        </a>

    </div>

</div>

<div class="row mt-5">

    <div class="col-md-4 mb-4">

        <div class="card shadow feature-card h-100">

            <div class="card-body text-center">

                <h1>

                    🔒

                </h1>

                <h4>

                    Secure Login

                </h4>

                <p>

                    Authentication powered by Django.

                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="card shadow feature-card h-100">

            <div class="card-body text-center">

                <h1>

                    👤

                </h1>

                <h4>

                    Profile Management

                </h4>

                <p>

                    Update and manage your account easily.

                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="card shadow feature-card h-100">

            <div class="card-body text-center">

                <h1>

                    ⚡

                </h1>

                <h4>

                    Fast & Responsive

                </h4>

                <p>

                    Modern UI built using Bootstrap 5.

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}